<h3>posts Index</h3>

<table>
    <tr>
        <th>Title</th>
        <th>description</th>

    </tr>
    <% posts.forEach(function(post){ %>
        <!-- /book/detail?id=647898f51c2b7407d29f6c32 -->
        <tr>
            <td>
                <a href="/post/detail?id=<%= post._id %>">
                    <%= post.title %>
                </a>

            </td>

            <td>
                <%= post.description %>
            </td>

            <td>
                <form method="POST" action="/post/delete?id=<%=post._id%>">
                    <button type="submit">DELETE</button>
                </form>
                <a href="/post/edit?id=<%=post._id%>">UPDATE</a>

            </td>
        </tr>
        <% }) %>
</table>